---
import { Image } from 'astro:assets'
import { getRelativeLocaleUrl } from 'astro:i18n'
import NavItem from './NavBarItem.astro'
import { NavItemDropdown } from './NavItemDropdown.tsx'
import { NavMenu } from './NavMenu.tsx'
import IconButton from '~/components/common/IconButton.astro'
import Button from '~/components/common/Button.astro'

import { getNavigationTranslations } from '~/data/get-navigation-translations'
import { getCategoryLinks } from '~/data/get-category-links'
import { getLinkToPage } from '~/data/get-link-to-page'

import IrenaLogo from '~/assets/brand/wordmark.svg'
import IconMenu from '~icons/material-symbols/menu-rounded'
import IconClose from '~icons/material-symbols/close-rounded'
import IconChevronRight from '~icons/material-symbols/chevron-right-rounded'


const locale = Astro.currentLocale!
const t = await getNavigationTranslations(locale)

const categoryLinks = await getCategoryLinks(locale)
const contactsLink = await getLinkToPage(locale, 'contacts')

---

<nav class="mx-auto max-w-screen-xl lg:px-8 sm:px-6">
  <div class="relative h-16 flex items-center justify-between gap-4 border-b px-4 sm:px-0">
    <div class="sr-only focus-within:(not-sr-only absolute inset-0 flex items-center justify-center)">
      <Button
        as="a"
        href="#content"
        label="Skip to content"
        variant="primary"
        size="sm"
      />
    </div>
    <div class="flex md:hidden">
      <NavMenu client:visible>
        <IconButton
          slot="open"
          as="div"
          icon={IconMenu}
          label="Open mobile navigation menu"
        />
        <IconButton
          slot="close"
          as="div"
          icon={IconClose}
          label="Close mobile navigation menu"
        />
        <a slot="logo" href={getRelativeLocaleUrl(locale, '/')} hreflang={locale}>
          <span class="sr-only">Irena Logo</span>
          <Image src={IrenaLogo} height="28" alt="" />
        </a>
        <Fragment>
          <div>
            <p id="products-category-heading" class="text-zinc-900 font-medium">{ t.products }</p>
            <ul role="list" aria-labelledby="products-category-heading" class="pt-6 space-y-6">
              {categoryLinks.map(({ label, slug }) => (
                <li class="group relative flex items-center gap-2 px-2">
                  <IconChevronRight class="text-zinc-500 group-hover:(translate-x-1 text-indigo-500 transition-transform)" aria-hidden="true" />
                  <NavItem as="a" href={slug}>
                    <span class="absolute inset-0" />
                    { label }
                  </NavItem>
                </li>
              ))}
            </ul>
          </div>
          <div class="flex">
            <NavItem as="a" href={contactsLink}>
              { t.contacts }
            </NavItem>
          </div>
        </Fragment>
      </NavMenu>
    </div>
    <div class="min-w-fit flex flex-1">
      <a href={getRelativeLocaleUrl(locale, '/')} hreflang={locale}>
        <span class="sr-only">Irena logo</span>
        <Image src={IrenaLogo} height="28" alt="" loading="eager" />
      </a>
    </div>
    <div class="hidden h-full items-center gap-12 px-4 md:flex">
      <NavItemDropdown items={categoryLinks} client:visible>
        <NavItem as="span">{ t.products }</NavItem>
      </NavItemDropdown>
      <NavItem as="a" href={contactsLink}>{ t.contacts }</NavItem>
    </div>
    <div class="flex-1">
      <slot />
    </div>
  </div>
</nav>
