---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import { useTranslations } from 'astro-nanointl'
import FooterItem from './FooterItem.astro'
import IconButton from '~/components/common/IconButton.astro'

import { getNavigationTranslations } from '~/data/get-navigation-translations'
import { getCategoryLinks } from '~/data/get-category-links'
import { getLinkToPage } from '~/data/get-link-to-page'

import IrenaLogo from '~/assets/brand/wordmark.svg'
import IconFacebook from '~icons/bxl/facebook-circle'
import IconInstagram from '~icons/bxl/instagram-alt'
// import IconGithub from '~icons/bxl/github'


const locale = Astro.currentLocale!

const translations = await getEntry('translations', `${locale}/components/navigation/footer`)
const t = {
  ...useTranslations({
    description: 'Irena is a mini-patisserie that produces natural homemade confectionery that will make your day a little sweeter.',

    issue: 'Found an issue or a bug?',
    issueAction: 'Report here',

    privacy: 'We do not track your activity or use your cookies.',
    copyright: 'All rights reserved.',
  }, {
    locale,
    data: translations?.data,
  }),
  ...(await getNavigationTranslations(locale)),
}

const categoryLinks = await getCategoryLinks(locale)

const contactsLink = await getLinkToPage(locale, 'contacts')
const privacyLink = await getLinkToPage(locale, 'privacy')

---

<div class="border-t bg-zinc-100">
  <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 lg:(px-8 pt-32) sm:(px-6 pt-24)">
    <div class="grid gap-x-8 gap-y-16 lg:cols-2">
      <div class="space-y-8">
        <Image src={IrenaLogo} height={28} alt="Irena" />
        <p class="max-w-sm text-zinc-700 leading-7 md:(text-sm leading-6)">{ t.description }</p>
        <div class="flex gap-6">
          <IconButton
            as="a"
            href="#"
            label="Facebook"
            icon={IconFacebook}
          />
          <IconButton
            as="a"
            href="#"
            label="Instagram"
            icon={IconInstagram}
          />
          {/* <IconButton
            as="a"
            href="/"
            label="Github"
            icon={IconGithub}
          /> */}
        </div>
      </div>
      <div class="grid gap-8 md:cols-3 sm:cols-2">
        <div>
          <h3 class="text-zinc-900 font-semibold md:(text-sm leading-6)">{ t.products }</h3>
          <ul role="list" class="mt-6 space-y-4">
            {categoryLinks.map(({ label, slug }) => (
              <li>
                <FooterItem as="a" href={slug}>{ label }</FooterItem>
              </li>
            ))}
          </ul>
        </div>
        <div>
          <h3 class="text-zinc-900 font-semibold md:(text-sm leading-6)">{ t.aboutUs }</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <FooterItem as="a" href={contactsLink}>
                { t.contacts }
              </FooterItem>
            </li>
            <li>
              <FooterItem as="a" href={privacyLink} rel="privacy-policy">
                { t.privacyPolicy }
              </FooterItem>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t pt-8 lg:mt-24 sm:mt-20">
      <div class="text-sm text-zinc-500 leading-6 md:(flex flex-row-reverse justify-between text-xs leading-5)">
        <div>
          <p class="md:text-end">
            { t.issue }
            <a
              href="https://github.com/e3stpavel/irena-web/issues"
              target="_blank"
              rel="noopener"
              class="text-zinc-700 underline underline-offset-3 hover:(text-zinc-900 no-underline)"
            >
              { t.issueAction }
            </a>
          </p>
        </div>
        <div>
          <div class="md:max-w-xs">
            <p class="inline">{ t.privacy }</p>
            <a
              href={privacyLink}
              hreflang={locale}
              rel="privacy-policy"
              class="text-zinc-700 underline underline-offset-3 hover:(text-zinc-900 no-underline)"
            >
              { t.privacyPolicy }
            </a>
          </div>
          <p>&copy; 2024 Irena. { t.copyright }</p>
        </div>
      </div>
    </div>
  </div>
</div>
